# Visual Studio[ Code] state
.vs/
.vscode/
.ionide/

# User-specific cmake config
user.cmake

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
obj/
Debug/
Release/
build/

# nuget packages
/packages/

# cabal
/dist/
/dist-newstyle/
.ghc.environment.*

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Haskell stuff
*~
*#
#*#
*.bak
*.BAK
*.orig
*.prof
*.rej
*.patch
*.stackdump

*.hi
*.hi-boot
*.o-boot
*.p_o
*.t_o
*.debug_o
*.thr_o
*.thr_p_o
*.thr_debug_o
*.o
*.a
*.o.cmd
*.depend*
*.dyn_o
*.dyn_hi

# TeX
*.synctex(busy)
*.synctex.gz
*.xcp

# Misc
etc/ks-vscode/node_modules/
etc/ks-vscode/out/

# Python byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Ionide F# VS Code extension
.fake
.ionide

# Eggs
*.egg-info/
ksc-*.egg
