# This file is only useful if you want to do a pip-only install of Knosos dependencies, and avoid using conda.
# If you can use conda, then just use conda-env.yaml.
# If you want to do a pip-only install, use print_requirements.py to extract some requirements from 
# the 'pip' section of the conda-env.yaml, and then install the rest from here. See install_linux.sh for an example.
tensorflow-cpu==2.9.3
pyyaml
--find-links https://download.pytorch.org/whl/torch_stable.html
--find-links https://pytorch-geometric.com/whl/torch-1.8.0+cpu.html
torch==1.8.0+cpu 
torchvision==0.9.0+cpu
torchaudio==0.8.0
torch-scatter
torch-sparse 
torch-cluster
torch-spline-conv
torch-geometric