name: Benchmark

on:
  schedule:
    - cron:  '5 3 * * *'

  push:
    branches: [cogravil/benchmarkresults]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: 'Make directories [userInstall]'
        run: sh test/builds/mkdirs.sh
        
      - name: 'Install dependencies [userInstall]'
        run: sh ./test/builds/install_linux.sh || (sleep 30 && sh ./test/builds/install_linux.sh) || (sleep 30 && sh ./test/builds/install_linux.sh)

      - name: 'Can build with cabal [userTest]'
        run: /opt/cabal/3.0/bin/cabal v2-install --with-ghc /opt/ghc/8.6.5/bin/ghc-8.6.5 --installdir=build/bin  --overwrite-policy=always --install-method=copy

      - name: 'Run benchmark'
        run: sh ./.github/workflows/benchmark.sh
        
      - name: 'Upload benchmark result'
        uses: actions/upload-artifact@v2
        with:
          name: benchmark
          path: .benchmarks/*
      
      # docs.microsoft.com/en-us/azure/storage/common/storage-use-azcopy-v10#obtain-a-static-download-link
      - name: 'Obtain AzCopy'
        run: wget -O azcopy_v10.tar.gz https://aka.ms/downloadazcopy-v10-linux && tar -xf azcopy_v10.tar.gz --strip-components=1
        
      # The secret is a SAS token https://docs.microsoft.com/en-us/azure/storage/common/storage-sas-overview
      # The token is generated to expire 13 months out (2022-06-11 15:00).
      # It grants the following roles (read,list,create) which is enough for the action to add a new result,
      # and other actions to aggregate the results.
      - name: 'Upload result via AzCopy'
        env:
          BENCHMARK_SAS: ${{ secrets.BENCHMARK_SAS }}
        run: |
          ./azcopy copy ".benchmarks/*" "$BENCHMARK_SAS" --recursive
      
